{% extends "backend/base/base.html" %}
{% load static %}

{% block custom_css %}
    <link href="{% static 'backend/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/form_create.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block main_content %}
    <div class="form-head d-flex mb-4 align-items-start">
        <div class="input-group search-area d-inline-flex">
            <input type="text" class="form-control" placeholder="Search here">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
        </div>
        <div class="dropdown ms-auto d-inline-block">
            <div class="btn btn-outline-primary btn-rounded dropdown-toggle" data-bs-toggle="dropdown">
                <svg class="me-3" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M22.4276 2.856H21.8676V1.428C21.8676 0.56 21.2796 0 20.4396 0C19.5996 0 19.0116 0.56 19.0116 1.428V2.856H9.71557V1.428C9.71557 0.56 9.15557 0 8.28757 0C7.41957 0 6.85957 0.56 6.85957 1.428V2.856H5.57157C2.85557 2.856 0.55957 5.152 0.55957 7.868V23.016C0.55957 25.732 2.85557 28.028 5.57157 28.028H22.4276C25.1436 28.028 27.4396 25.732 27.4396 23.016V7.868C27.4396 5.152 25.1436 2.856 22.4276 2.856ZM5.57157 5.712H22.4276C23.5756 5.712 24.5836 6.72 24.5836 7.868V9.856H3.41557V7.868C3.41557 6.72 4.42357 5.712 5.57157 5.712ZM22.4276 25.144H5.57157C4.42357 25.144 3.41557 24.136 3.41557 22.988V12.712H24.5556V22.988C24.5836 24.136 23.5756 25.144 22.4276 25.144Z" fill="#EA4989"></path>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="28" height="28" fill="white"></rect>
                    </clipPath>
                    </defs>
                </svg>
                Today
            </div>
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" href="#">A To Z List</a>
                <a class="dropdown-item" href="#">Z To A List</a>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xl-12">
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="table-responsive">
                <table id="example5" class="display mb-4 dataTablesCard">
                    <thead>
                        <tr>
                            <th><strong class="font-w600">Sl No.</strong></th>
                            <th><strong class="font-w600">Title</strong></th>
                            <th><strong class="font-w600 wspace-no">Description</strong></th>
                            <th><strong class="font-w600">Image</strong></th>
                            <th><strong class="font-w600">Action</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for about_us in about_us_entries %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ about_us.title }}</td>
                                <td>{{ about_us.description|striptags }}</td>
                                <td>
                                    {% if about_us.image %}
                                        <img src="{{ about_us.image.url }}" alt="{{ about_us.title }}" class="table-images" width="100">
                                    {% else %}
                                        No Image
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-xs edit-btn mb-2" data-bs-toggle="modal" data-bs-target="#editModal"
                                        data-id="{{ about_us.id }}"
                                        data-title="{{ about_us.title }}"
                                        data-description="{{ about_us.description }}"
                                        data-image="{% if about_us.image %}{{ about_us.image.url }}{% else %}{% endif %}"

                                    >
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-primary btn-xs delete-btn mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ about_us.id }}">Delete</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No About Us entries found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit About Us Section</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="editForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="id" id="edit-id">
                        <div class="mb-3">
                            <label for="edit-title" class="form-label">Title</label>
                            <input type="text" name="title" id="edit-title" class="form-control" placeholder="Title">
                        </div>
                        <div class="mb-3 ck-editor-div">
                            <label for="ckeditor-classic" class="form-label">Description</label>
                            
                            <textarea id="ckeditor-classic" name="description" class="form-control input-rounded" placeholder="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="edit-image" class="form-label">Image</label>
                            <input type="file" name="image" id="edit-image" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Delete Modal-->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this entry?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    
                    <input type="hidden" name="delete-id" id="delete-id">
                    <button id="confirm-delete" type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    The entry has been deleted successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block custom_js %}
    <script src="{% static 'backend/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <!-- ckeditor -->
    <script src="{% static 'backend/js/ckeditor.js' %}"></script>
    {% comment %} <script src="{% static 'backend/js/plugins-init/form-editor.init.js' %}"></script> {% endcomment %}

	<script>
		(function($) {
		 
			var table = $('#example5').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			$('#example tbody').on('click', 'tr', function () {
				var data = table.row( this ).data();
				
			});
		   
		})(jQuery);
	</script>

    <script>
        let editorInstance; // Variable to store the editor instance
    
        $(document).on('click', '.edit-btn', function () {
            // Retrieve data attributes from the clicked button
            const id = $(this).data('id');
            const title = $(this).data('title');
            const description = $(this).data('description');
            const imageUrl = $(this).data('image');
    
            console.log('description: ', description);
    
            // Populate the modal fields
            $('#edit-id').val(id);
            $('#edit-title').val(title);
    
            // Check if CKEditor instance is already created
            if (editorInstance) {
                editorInstance.setData(description); // Set the description data
            } else {
                ClassicEditor.create(document.querySelector("#ckeditor-classic"))
                    .then(editor => {
                        editorInstance = editor; // Store the editor instance
                        editor.setData(description); // Set the description data
                        editor.ui.view.editable.element.style.height = "200px";
                    })
                    .catch(error => {
                        console.error('CKEditor initialization error:', error);
                    });
            }
    
            $('#editModal').modal('show');
    
            // Show the current image preview if available
            const imagePreviewContainer = $('#edit-image').parent();
            imagePreviewContainer.find('.image-preview').remove(); // Clear previous preview if it exists
            if (imageUrl) {
                const imagePreview = `<img src="${imageUrl}" alt="Current Image" class="image-preview" width="100">`;
                imagePreviewContainer.append(imagePreview);
            }
        });

        // delete About Us
        $(document).on('click', '.delete-btn', function () {
            const id = $(this).data('id'); // Get the ID from the button
            $('#confirm-delete').data('id', id); // Pass the ID to the confirm button
        });
    
        $(document).on('click', '#confirm-delete', function () {
            const id = $(this).data('id'); // Get the ID from the confirm button
            


            // Use the fetch API
            fetch("{% url 'delete_about_us' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json", // Specify JSON content type
                    "X-CSRFToken": '{{ csrf_token }}' // Add CSRF token
                },
                body: JSON.stringify({ 'id': id }) // Send ID as JSON
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $('#deleteModal').modal('hide'); // Hide the delete modal
                        $(`button[data-id="${id}"]`).closest('tr').remove(); // Remove the row
                        $('#successModal').modal('show'); // Show the success modal
                        console.log('entry deleted')

                    }
                    else {
                        console.log('error from the database')
                        alert(data.error); // Show error message
                    }
                })
                .catch(() => {
                    alert('An error occurred. Please try again.');
                });
        });


    </script>
{% endblock custom_js %}