.ck-editor-div{
    border: 0.0625rem solid #d7dae3;
}

.table-images{
    width: 100px;
    height: 100px;
}

.mandatory-field-star{
    color: red;
}

.textarea{
    height: 54px;
    border: 0.0625rem solid #d7dae3;
}

.delete-btn{
    color: white;
    border: none !important;
    background-color: rgb(204, 61, 61);
}

.delete-btn:hover{
    color: white;
    border: none !important;
    background-color: rgb(255, 0, 0);
}

.edit-btn{
    color: white;
    border: none !important;
    background-color: rgb(2, 91, 151);
}

.edit-btn:hover{
    color: white;
    border: none !important;
    background-color: rgb(2, 149, 247);
}

.image-preview {
    margin-top: 10px;
    display: block;
}