{% extends "frontend/base/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/stylesheets/custom_style.css' %}">
{% endblock custom_css %}
{% block main_content %}
    <!-- Slider -->
    <div class="flat-sliders-container">
        <div class="tp-banner-container">
                <div class="tp-banner">                          <ul>
    {% for company in companies %}
        <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
            {% if company.id == 1 %}
            <img src="{% static 'frontend/images/slides/1.jpg' %}" alt="slider-image"/>
                            {% elif company.id == 2 %}
                            <img src="{% static 'frontend/images/slides/1.jpg' %}" alt="slider-image"/>
                            {% elif company.id == 3 %}
                            <img src="{% static 'frontend/images/slides/1.jpg' %}" alt="slider-image"/>
                            {% else %}
                            <img src="{% static 'frontend/images/slides/1.jpg' %}" alt="slider-image"/>
                {% endif %}
            <div "tp-caption sfl title-slide style6" data-x="140" data-y="320" data-speed="1500" data-start="1500" data-easing="Sine.easeInOut">
                {{ company.name }}
            </div>
            <div class="tp-caption sfr description-slider style1" data-x="140" data-y="450" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                {{ company.category }}  <!-- Assuming you have a category like "Restaurant" -->
            </div>
            <div class="tp-caption  desc-slide blue-color center style3" data-x="40" data-y="250" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                <span >Welcome to</span> <br>
                <h1 >{{ company.name }}<h1>
                     <!-- Modify as needed -->
            </div>
            <!-- Logo section, assuming you have a logo field -->        
        </li>
    {% endfor %}
</ul>
            </div>
            <div id="slider-counter">

                <a href="#" data-id="0"><span >01</span></a>
                <a href="#" data-id="1"><span >02</span></a>
                <a href="#" data-id="2"><span >03</span></a>              

            </div>            

        </div>

        <div class="flat-vertical social-links">
            <a href="https://www.instagram.com/ohanadiner" target="_blank"><i class="fa-brands fa-instagram"></i></a>

            <a href="https://www.facebook.com/OhanaDinerbd" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="tel:+8801880200570">
                <i class="fa fa-phone"></i>
            </a>
            <span>FOLLOW US</span>
        </div>
        <div class="flat-vertical reservation">
            <a href="#">MAKE A RESERVATION</a>
        </div>
    </div>
    <section class="flat-row flat-our">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'frontend/images/imagebox/1.png' %}" alt="images">

                </div><!--col-md-6-->   



                <div class="col-md-6">

                    <div class="flat-divider d96px"></div>

                    <div class="wrap-content-story">

                        <div class="title-section style2 ">

                            <h1 class="title">Our Story</h1>

                        </div>

                        <p class="content-story">A group of Culinary Artists committed to health and quality, united by a fierce passion of food art and cuisine creation. </p>

                        <ul class="iconlist">

                            <li><i class="fa fa-circle-o"></i>Environmentally sustainable seafood and other products are to be used as part of community obligations. </li>

                            <li><i class="fa fa-circle-o"></i> The focus relentlessly is to be on food quality, guest satisfaction and gastronomical culture.                            </li>

                            <li><i class="fa fa-circle-o"></i>Socially responsible vendors are to be involved.</li>

                            <li><i class="fa fa-circle-o"></i>Imported as well as local, seasonal and sustainable ingredients are to be promoted in all dishes.
                            </li>

                        </ul>

                    </div>

                </div><!--/.col-md-6-->  

            </div><!--/.row-->

        </div><!--/.container -->

    </section>



    <section class="flat-row flat-imagebox index-1">

        <div class="container">
            <div class="home-menu-hot-items-div">
                <div class="home-menu-hot-food-items-div">
                    <div>
                        <div class="home-menu-hot-heading">
                            <div class="col-md-12">
                                <div class="title-section style2 ">
                                    <div class="top-section">
                                        <p>Discover</p>
                                    </div>
                                    <h1 class="title">Menu Hot</h1>
                                </div>
                            </div><!--col-md-12-->
                        </div>
                    </div>

                    <div class="home-menu-hot-food-items-container-div">
                        <div class="flat-divider d10px"></div>
                            <div class="row" style="display: flex; flex-wrap: wrap;"> <!-- Flexbox to align items horizontally -->
                                {% for item in hot_deal_items|slice:":4" %}
                                    <div class="item" style="flex: 1 1 200px; max-width: 200px;"> <!-- Flex items with fixed width -->
                                        <div class="imagebox effect1">
                                            <div class="box-wrap">
                                                <div class="box-image">
                                                    <a href="#">
                                                        {% if item.thumb_image %}
                                                            <img src="{{ item.thumb_image.url }}" alt="{{ item.name }}" style="width: 100%; height: auto; object-fit: cover;">
                                                        {% else %}
                                                            <img src="{% static 'frontend/images/default-placeholder.jpg' %}" alt="{{ item.name }}" style="width: 100%; height: auto; object-fit: cover;">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="box-content">
                                                    <h5>{{ item.name }}</h5>
                                                    <ul>
                                                        <li>৳{{ item.price }}</li>
                                                        <li>
                                                            <i class="fa fa-heart"></i>
                                                            <i class="fa fa-heart"></i>
                                                            <i class="fa fa-heart"></i>
                                                            <i class="fa fa-heart"></i>
                                                            <i class="fa fa-heart"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                    
                </div><!--row-->
    
                <div class="home-menu-hot-image-div">
                    {% comment %} {% for company, items in grouped_hot_deals.items %}
                        <div class="flat-divider d10px"></div>
                        <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px;"> <!-- Flexbox to align items horizontally -->
                            {% for item in items %}
                                <div class="item" style="flex: 1 1 200px; max-width: 200px;"> <!-- Flex items with fixed width -->
                                    <div class="imagebox effect1">
                                        <div class="box-wrap">
                                            <div class="box-image">
                                                <a href="#">
                                                    {% if item.thumb_image %}
                                                        <img src="{{ item.thumb_image.url }}" alt="{{ item.name }}" style="width: 100%; height: auto; object-fit: cover;">
                                                    {% else %}
                                                        <img src="{% static 'frontend/images/default-placeholder.jpg' %}" alt="{{ item.name }}" style="width: 100%; height: auto; object-fit: cover;">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="box-content">
                                                <h5>{{ item.name }}</h5>
                                                <ul>
                                                    <li>৳{{ item.price }}</li>
                                                    <li>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                        <i class="fa fa-heart"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %} {% endcomment %}
                </div>
            </div>
            
            
            

        </div><!--container -->

    </section>



    <!-- Flat Tab-->

  
    <section class="flat-row flat-tab-menu">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="title-section">

                        <div class="top-section">Find About</div>

                        <h1 class="title">Our Menu</h1>

                    </div>

                </div><!--/.col-md-12-->

            </div><!--/.row-->


            <div class="row">
                <div class="col-md-12">
                    <div class="flat-tabs">
                        <ul class="menu-tab">
                            {% for company, menu_item_chunks in company_menu_with_ingredients.items %}
                                <li class="{% if forloop.first %}active{% endif %}">
                                    <a href="#">{{ company.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
            
                        <div class="content-tab">
                            {% for company, menu_item_chunks in company_menu_with_ingredients.items %}
                                <div class="content-inner" id="{{ company.name|slugify }}">
                                    <!-- Loop through the chunks of menu items -->
                                    {% for chunk in menu_item_chunks %}
                                        <div class="row">
                                            {% for menu_item in chunk %}
                                                <div class="col-md-4">
                                                    <ul class="menu-fd">
                                                        <li>
                                                            <div class="media-wrap flat-hover-moveright">
                                                                <a href="#" class="pull-left">
                                                                    <img src="{{ menu_item.thumb_image.url }}" alt="{{ menu_item.name }}" class="img-thumbnail" style="width: 150px; height: 150px;">
                                                                </a>
                                                                <div class="media-body">
                                                                    <h6><a href="#">{{ menu_item.name }}</a></h6>
                                                                    <div class="dotted-bg"></div>
                                                                    <span>৳{{ menu_item.price }}</span>
                                                                </div>
            
                                                                <ul class="menu-in">
                                                                    
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.col-md-4 -->
                                            {% endfor %}
                                        </div><!-- /.row -->
                                    {% endfor %}
                                </div><!-- /.content-inner -->
                            {% endfor %}
                        </div><!-- /.content-tab -->
                    </div><!-- .flat-tabs -->
                </div><!-- /.col-md-12 -->
            </div>
            
        </div><!--/.container -->

    </section>



    <!-- Flat projects portfolio -->

    <section class="flat-row flat-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style1">
                        <div class="top-section">
                            <p>Discover</p>
                        </div>
                        <h1 class="title">Gallery Photo</h1>
                    </div>
                </div><!--col-md-12-->
            </div><!--row-->
            
            <div class="row">
                <div class="flat-projects-portfolio" style="padding: 20px;">
                    <!-- Portfolio Filter -->
                    <div class="flat-projects-portfolio" style="padding: 20px;">
                        <!-- Portfolio Filter -->
                        <ul class="portfolio-filter d-flex flex-wrap justify-content-center list-unstyled mb-4" style="width: 100%; padding: 0;">
                            <li class="active mx-3" style="list-style: none;">
                                <a data-filter="*" href="#" style="font-size: 16px; font-weight: bold; text-decoration: none;">All Gallery</a>
                            </li>
                            {% for category in categories %}
                                <li class="mx-3" style="list-style: none;">
                                    <a data-filter=".{{ category.name|slugify }}" href="#" style="font-size: 16px; color: #6c757d; font-weight: normal; text-decoration: none;">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <!-- Projects Portfolio -->
                    <div class="projects-portfolio row g-4" style="display: flex; flex-wrap: wrap; justify-content: center;">
                        {% for category in categories %}
                            <div class="projects-portfolio-wrap {{ category.name|slugify }}" style="width: 100%; max-width: 1200px;">
                                {% if category.galleries.exists %}
                                    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: start;">
                                        {% for gallery in category.galleries.all %}
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                                                <div class="portfolio-img flat-hover-images text-center" style="width: 100%; height: 250px; overflow: hidden; position: relative;">
                                                    {% if gallery.image %}
                                                        <!-- Link to trigger modal -->
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal{{ gallery.id }}" style="display: block; height: 100%; width: 100%;">
                                                            <img src="{{ gallery.image.url }}" alt="{{ gallery.caption }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
                                                        </a>
                                                    {% else %}
                                                        <p style="text-align: center; font-size: 14px; color: #888;">No image available</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="galleryModal{{ gallery.id }}" tabindex="-1" aria-labelledby="galleryModalLabel{{ gallery.id }}" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="galleryModalLabel{{ gallery.id }}">{{ gallery.caption }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            {% if gallery.image %}
                                                                <img src="{{ gallery.image.url }}" alt="{{ gallery.caption }}" class="img-fluid">
                                                            {% else %}
                                                                <p>No image available</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!--/.container-->
        </section>
    

    



    <!-- Flat make resvervation -->

 <br>
 <br>


    <!-- Flat latest new -->




    <!-- Flat testimonial -->

    <section class="flat-row flat-testimonial index-3">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="title-section margb-27px">

                        <h1 class="title">Our Customers Say</h1>

                    </div>

                </div><!--col-md-12-->

            </div><!--row-->



            <div class="row">

                <div class="col-md-12">



                    <div class="flat-carousel">

                        <div class="owl-carousel-services">

                            <div class="item-owl">

                                <div class="blockquote-testimo">

                                    <p> Ohana Diner exceeded all our expectations with their exceptional service! The staff was incredibly friendly, attentive, and made us feel right at home. A truly welcoming experience that we'll definitely return for!



                                    </p>                        

                                </div>



                                <div class="title-testimonial">

                                    <h6 class="title"><a href="#">Ajay Ghosh</a></h6>

                                </div>

                            </div>



                            <div class="item-owl">

                                <div class="blockquote-testimo">

                                    <p> The food at Ohana Diner is absolutely top-notch! Every dish we tried was bursting with flavor and cooked to perfection. You can tell they use fresh ingredients and take pride in their culinary skills. Highly recommended!

                                    </p>                        

                                </div>



                                <div class="title-testimonial">

                                    <h6 class="title-post"><a href="#">Fazle Rabbi</a></h6>

                                </div>

                            </div>







                        </div><!--/.owl-carousel-services-v2-->

                    </div><!--/.flat-carousel-v2-->

                </div><!--/.col-md-12-->

            </div><!--/.row-->

        </div><!--/.container -->

    </section>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const phoneInput = document.getElementById('form-phone');
                const reservationForm = document.getElementById('reservation-form');
            
                // Restrict input to only numbers and validate format
                phoneInput.addEventListener('input', function () {
                    let phoneValue = phoneInput.value;
                    phoneValue = phoneValue.replace(/\D/g, '').slice(0, 11);
                    phoneInput.value = phoneValue;
                    validatePhoneNumber(phoneValue);
                });
            
                // Validate phone number format
                function validatePhoneNumber(phoneValue) {
                    const errorMessage = document.getElementById('phone-error');
                    const phoneRegex = /^(012|013|014|015|016|017|018|019)\d{8}$/;
                    if (phoneRegex.test(phoneValue)) {
                        phoneInput.classList.remove('is-invalid');
                        if (errorMessage) {
                            errorMessage.remove();
                        }
                    } else {
                        phoneInput.classList.add('is-invalid');
                        if (!errorMessage) {
                            const errorDiv = document.createElement('div');
                            errorDiv.id = 'phone-error';
                            errorDiv.style.color = 'red';
                            errorDiv.textContent = 'Phone number must start with 012-019 and be exactly 11 digits.';
                            phoneInput.parentNode.appendChild(errorDiv);
                        }
                    }
                }
            
                // Prevent form submission if phone number is invalid
                reservationForm.addEventListener('submit', function (event) {
                    const phoneValue = phoneInput.value.trim();
                    const phoneRegex = /^(012|013|014|015|016|017|018|019)\d{8}$/;
                    if (!phoneRegex.test(phoneValue)) {
                        event.preventDefault();
                        alert('Please enter a valid phone number.');
                    } else {
                        // If the phone number is valid, submit the form via AJAX
                        event.preventDefault(); // Prevent the default form submission
                        const formData = new FormData(reservationForm);
                        fetch(reservationForm.action, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': csrfToken,  // Add CSRF token to the headers
                            },
                            body: formData,
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Reservation sent via WhatsApp!');
                            } else {
                                alert('Error: ' + data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                });
            });
            
        </script>

{% endblock main_content %}